$titles-logo-font: Shrikhand, cursive; 
$text-font: Roboto, sans-serif; 
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color-main: #f6f6f6;
$background-color-barre: #e6e6e7;
$background-color-barre-ombre: #cacbcb;
$border-input-barre-focus: #6e6e6e;
$color-text-search-accueil: #6e6e6e;
$desktop-version: "992px";
$tablette-version: "768px";